<!DOCTYPE html>
<html>
<head>
<title>Charcuterie BidochEon(Products)</title>
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
  
  <body>   

      <h1 class="Title"> Charcuterie BidochEon <h1>

      h1= message

      <h2> Nos produits :</h2>

      <ul>

        <li> 
          .image-block
          h3 Jambon de Bayonne
          img.className#IdName(src="https://images.ecosia.org/DiY4wYBKrR0tCfwiGcaujmynZS8=/0x390/smart/https%3A%2F%2Fwww.maison-du-jambon-de-bayonne.com%2Fwp-content%2Fuploads%2F2016%2F05%2FDSC_5810.jpg" alt="Jambon de Bayonne") 
        </li>
        <li> 
          .image-block
          h3 Saucisson sec
          img.className#IdName(src="https://images.ecosia.org/x4tdU1Mj_YgJ8vSnwvi70fEuJ2U=/0x390/smart/https%3A%2F%2Fimg2.bibamagazine.fr%2Fvar%2Fbibamagazine%2Fstorage%2Fimages%2F7%2F2%2F72388%2F525808-1%2FLe-premier-Mondial-du-Saucisson-aura-lieu-en-France-au-printemps-2018_width1024.jpg" alt="Saucisson sec") 
        </li>
        <li> 
          .image-block
          h3 Viande hachée
          img.className#IdName(src="https://images.ecosia.org/JBpIWN3B4Xxf-AlFkxaY6HswD70=/0x390/smart/https%3A%2F%2Fimage.migros.ch%2Fcustom%2Fresize-height-1400-width-1400%2Fa511d3f0b82a5b1f137fa6a9ebe63c886e9e0e30%2Frindshackfleisch.jpg" alt="Viande hachée") 
        </li>
        <li> 
          .image-block
          h3 Steack de soja
          img.className#IdName(src="https://images.ecosia.org/ktEjfAK6OdHyMNIqMvKAY_91HMI=/0x390/smart/http%3A%2F%2Fwww.veganwiz.fr%2Fwp-content%2Fuploads%2F2012%2F04%2FSteack_topinambours.jpg" alt="Steack de soja") 
        </li>
      
      </ul>

<a href="/connexion"> <h5> Mon compte personnel </h5> </a> 
<a href="/">  <h5> Page d'accueil </h5> </a>
  if (deconnexion)
      <a href="/customer/deconnect"> <h5> Se deconnecter </h5> </a>



  </body>

</html>